.container {
    background: #0d83a7;
    font-style: hero and footer;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  .item1 {
    margin: 5px 0px 0px 0px;
    background: #0d83a7;
    flex:2;
    font-size: x-large;
  }
  
  .item1.0 {
      background: #0d83a7;
      flex:2;
      font-size: large;
    }
  
  .item2 {
    background: #0d83a7;
  
    flex:1;
  }
  
  .item3 {
      background: #0d83a7;
    flex:0;
  }

  .container2 {
    background: #0d83a7;
    height: 1200px;
    font-style: hero and footer;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .item21 {
    color: black;
    padding: 2px;
    border: 1px solid black;
    border-radius: 20px;
    background: orange;
      flex:1;
      font-size: xx-large;
      margin: 0px 0px 0px 250px;
  }

  .item22 {
    background: #0d83a7;
      flex:1;
      font-size: xx-large;
      margin: 0px 0px 20px 0px;
      align-self: flex-end;
  }

  .empty {
        background: #0d83a7;
          flex:2;
          font-size: xx-large;
  }